:root{
    background-color: white;
    background-image: url('bg.jpg');
}
body{
    text-align: center;
  
}
.formlabel{

    color: cadetblue;
   
    
}

.forminput:focus{ border-color:#cd3232; }
.forminput{
    border-radius: 21px;
    height: 30px;
    width: 76%;
    text-align: center;
    border: cadetblue 2px solid;
    outline: none;
  
}
td{
    width: 50%;

}
table{
    width: 90%;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  #message{
    display: none;

  }
  .invalid,.valid,.hea{
      font-size: x-small;
      text-align: center;
  }

  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  form{
    border: rgb(100 152 126) 20px solid;
      border-radius: 30px;
      width: 50%;
      display: inline-block;
      padding: 10px;
      box-shadow: 6px 10px #345f57;
      background-color: white;
      margin-top: 10%;


  }
  #submit{
    background-color: rgb(100 152 126); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  }

  #submit:hover{
    background-color: #345f57; /* Green */
  }